.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    animation: example;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
body{
    animation: exam;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
.note{
    font-size: 14px;
    color: black;
}
.copy_right_footer{
    position: fixed;
    color: white;
    background-color: grey;
    line-height: 3;
    bottom: 0;
    width: 100%;
    text-align: right;
}
canvas{
    background-color: #d2d2f3;
    border-style: groove;
    border-width: 5px;
    cursor:no-drop;
    animation: rad;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes example {
    from{
        box-shadow: 5px 5px 5px grey;
        width: 100%;
        border-radius: 10;
    }
    to{
        box-shadow: 10px 10px 10px black;
        width: 73%;
        border-radius: 25;
    }
}
@keyframes exam {
    from{
        background-image:url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
        background-size: cover;
    }
    to{
        background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQow56HO5uknSrJ690xZFvdtn55971q8rz0cA&usqp=CAU");
        background-size: cover;
        animation: animal;
    }
}
@keyframes rad {
    from{
        border-radius: 0px;
    }
    to{
        border-radius: 25px;
    }
}